<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key ="SERVER" value="127.0.0.1:9988"/>
    <add key="BACK_SPLINT" value="8,115200"/>
    <add key="PRINTER" value="13,115200"/>
    <add key="0" value="ABC.BackSplint;ABC.BackSplint.IDCard"/>
    <add key="D0 07" value="ABC.BackSplint;ABC.BackSplint.IDCard"/>
    <!--//含指纹-->
    <add key="32 50" value="ABC.BackSplint;ABC.BackSplint.IDCard"/>
    <!--//不含指纹-->
    <add key="32 60" value="ABC.BackSplint;ABC.BackSplint.MagneticCard"/>
    <!--//磁条卡-->
    <!--<add key="4" value="ABC.BackSplint;ABC.BackSplint.IDCard"/>
    <add key="5" value="ABC.BackSplint;ABC.BackSplint.IDCard"/>
    <add key="6" value="ABC.BackSplint;ABC.BackSplint.IDCard"/>-->
  </appSettings>
</configuration>
