<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--                                  系统配置                                      -->
    <add key="SERVER" value="127.0.0.1:9988" />
    <add key="BACK_SPLINT" value="8,115200" />
    <add key="PRINTER" value="13,115200" />
    <add key="PRINTER" value="13,115200" />
    <add key="FORMSPATH" value="C:\TDS3.0\forms\XML" />
    <add key="PHOTOPATH" value="C:\" />
    
    <!--                               功能返射                                         -->
    <!--连接测试-->
    <add key="31 11" value="ABC.BackSplint;ABC.BackSplint.BasicFunction" />
    <!--//含指纹-->
    <add key="D0 07" value="ABC.BackSplint;ABC.BackSplint.IDCard" />
    <!--//不含指纹-->
    <add key="32 50" value="ABC.BackSplint;ABC.BackSplint.IDCard" />
    <!--//IC卡-->
    <add key="50 04" value="ABC.BackSplint;ABC.BackSplint.ICCard" />
    <!--//磁条卡-->
    <add key="32 60" value="ABC.BackSplint;ABC.BackSplint.MagneticCard" />
    <!--密码键盘-->
    <add key="C6 03" value="ABC.BackSplint;ABC.BackSplint.PinPad" />
    <!--打印机-->
    <add key="C8 01" value="ABC.Printer;ABC.Printer.Print" />
    <!--<add key="4" value="ABC.BackSplint;ABC.BackSplint.IDCard"/>
    <add key="5" value="ABC.BackSplint;ABC.BackSplint.IDCard"/>
    <add key="6" value="ABC.BackSplint;ABC.BackSplint.IDCard"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <!--<add key="NAME" value=""/>-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>